{% extends 'base.html' %} {% block title %}Riddle #{{ riddle.id }}{% endblock %}
{% block body %}
<h1>Riddle #{{ riddle.id }}</h1>

<p>{{ riddle.question }}</p>
<p>{{ riddle.clue_1.replace('\n', '<br />')|safe }}</p>
<p>{{ riddle.clue_2.replace('\n', '<br />')|safe }}</p>
<p>{{ riddle.clue_3.replace('\n', '<br />')|safe }}</p>

{% for answer in answers %}
<div>
  <img
    src="/static/images/{{ answer.image }}"
    width="60"
    alt="{{ answer.text }}"
  />
  <span>{{ answer.text }} </span>
  {% if answer.is_correct %}
  <span>(it's this one)</span>
  {% endif %}
</div>
{% endfor %} {% endblock %}
