{% extends 'base.html' %} {% block title %}Riddle #{{ riddle.id }}{% endblock %}
{% block body %}
<h1>Riddle #{{ riddle.id }}</h1>

<h2>Clues</h2>

<h3>Clue 1</h3>
<p>{{ riddle.clue_1.replace('\n', '<br />')|safe }}</p>
<h3>Clue 2</h3>
<p>{{ riddle.clue_2.replace('\n', '<br />')|safe }}</p>
<h3>Clue 3</h3>
<p>{{ riddle.clue_3.replace('\n', '<br />')|safe }}</p>

<h2>Question</h2>
<p>{{ riddle.question }}</p>

<h2>Answers</h2>

{% for answer in answers %}
<div>
  <img
    src="/static/images/{{ answer.image }}"
    width="60"
    alt="{{ answer.text }}"
  />
  <span>{{ answer.text }} </span>
  {% if answer.is_correct %}
  <span>(correct answer)</span>
  {% endif %}
</div>
{% endfor %} {% endblock %}
